@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact us</h1>

<p>Email adress: greenDragon.GD@hotmail.com</p>
<P>Phone number: 0722825677</P>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11996.164933467047!2d12.05371269217394
!3d57.89222534622628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2
!1s0x46455ddf3e7f8cdf%3A0x39c45a5fbfc8e793!2sS%C3%B6dra%20Kl%C3%B6verstigen%2014%2C%20449%2031%20N%C3%B6dinge
!5e0!3m2!1sel!2sse!4v1718291397148!5m2!1sel!2sse" width="600" height="450" style="border:0;
" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <form action="/" method="post"></form> </p> 
<form action="/ContactUs/Create" method="post">
<input type="text" name="Name" placeholder="Name" />
<input type="text" name="Email" placeholder="Email" />
<input type="text" name="Message" placeholder="Message" />
<button>Sent</button>
</form>
